<h1 class="centered-5">Sign Up</h1>
<%= link_to "Back", login_path %>

<%= form_for @user, html: {class: "centered-10"} do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :display_name, "Display Name" %><br />
    <%= f.text_field :display_name %>
  </p>
  
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <%= f.submit :class => "button-1-2" %>
<% end %>
