<!DOCTYPE html>
<html>
  <head>
    <title>UniteToBuyIt</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= include_gon(init:true) %>

    <% if current_user %>
      <%= javascript_include_tag "application" %>
    <% end %>

  </head>
  <body id="body">

    <%= yield %>

  </body>
</html>
